<div class="t3-container">
    <div class="t3-centralize">
        <div class="detail-info">
            <div class="info">
                <span class="info-title">ID CLIENTE:</span>
                <span class="info-value" id="name-value">{{ order.clientId }}</span>
            </div>
            <div class="info">
                <span class="info-title">DATA CRIAÇÃO:</span>
                <span class="info-value" id="category-value">{{ order.date }}</span>
            </div>
            <div class="info">
                <span class="info-title">STATUS:</span>
                <span class="info-value" id="price-value">{{ order.status }}</span>
            </div>  
        </div>
    </div>
</div>