<div class="t3-container">
    <div class="t3-centralize">
        <div class="image-content">
            <img [src]="product.link" alt="">
        </div>
        <div class="detail-info">
            <div class="info">
                <span class="info-title">NOME:</span>
                <span class="info-value" id="name-value">{{ product.name }}</span>
            </div>
            <div class="info">
                <span class="info-title">CATEGORIA:</span>
                <span class="info-value" id="category-value">{{ product.category }}</span>
            </div>
            <div class="info">
                <span class="info-title">PREÇO:</span>
                <span class="info-value" id="price-value">{{ product.price }}</span>
            </div>  
        </div>
    </div>
</div>