<td class="default">{{ product.name }}</td>
<td class="default">{{ product.category.description }}</td>
<td class="default">{{ product.price }}</td>
<td class="small detail">
    <span class="detail-btn">
        <a [routerLink]="['/products/detail', product.id]"
            class="detail-btn" style="text-decoration: none;">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </span>
</td>
<td class="small edit">
    <span class="edit-btn">
                                            <!-- fazendo property binding de queryParams que torna opcional passar o id na rota -->
        <a [routerLink]="['/products/form']" [queryParams]="{id: product.id}" class="edit-btn"
            style="text-decoration: none;">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
    </span>
</td>
<td class="small delete">
    <span class="delete-btn">

        <!-- event binding, quando clicar no link, chama o método deleteProduct() -->
        <a (click)="deleteProduct()" class="delete-btn"
            style="text-decoration: none;">
            <i class="fa-regular fa-trash-can"></i>
        </a>
    </span>
</td>