<td class="default">{{ product.name }}</td>
<td class="default">{{ product.category }}</td>
<td class="default">{{ product.price }}</td>
<td class="small detail">
    <span class="detail-btn">
        <a href="https://chat.openai.com/"
            class="detail-btn" style="text-decoration: none;">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </span>
</td>
<td class="small edit">
    <span class="edit-btn">
        <a href="https://chat.openai.com/" class="edit-btn"
            style="text-decoration: none;">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
    </span>
</td>
<td class="small delete">
    <span class="delete-btn">
        <a href="https://chat.openai.com/" class="delete-btn"
            style="text-decoration: none;">
            <i class="fa-regular fa-trash-can"></i>
        </a>
    </span>
</td>