<div class="t1-container">
    <div class="centralize-container">
        <div class="container-top">
            <div class="t1-title">
                <span class="title-product">LISTA DE PRODUTOS</span>
            </div>
            <div class="add-item-div">

                <!-- property binding -->
                <a [routerLink]="['/products/form']"
                    class="add-item-div" style="text-decoration: none;">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>

        <div class="product-table-list">
            <table class="product-table">
                <thead>
                    <tr>
                        <th class="default">NOME</th>
                        <th class="default">CATEGORIA</th>
                        <th class="default">PREÇO</th>
                        <th class="small"></th>
                        <th class="small"></th>
                        <th class="small"></th>
                    </tr>
                </thead>
                <tbody>
                    <!-- diretiva ngFor que percorre a lista de produtos trazendo todos os elementos dela -->
                    <tr *ngFor="let item of products" [product]="item" product-item></tr>
                </tbody>
            </table>
        </div>
    </div>
</div>