<td class="default">{{ order.clientId }}</td>
<td class="default">{{ order.date }}</td>
<td class="default">{{ order.status }}</td>
<td class="small detail">
    <span class="detail-btn">
        <a class="detail-btn" style="text-decoration: none;">
            <i class="fa-solid fa-circle-info"></i>
        </a>
    </span>
</td>
<td class="small edit">
    <span class="edit-btn">
        <a class="edit-btn"
            style="text-decoration: none;">
            <i class="fa-solid fa-pen-to-square"></i>
        </a>
    </span>
</td>
<td class="small delete">
    <span class="delete-btn">
        <a class="delete-btn"
            style="text-decoration: none;">
            <i class="fa-regular fa-trash-can"></i>
        </a>
    </span>
</td>