td {
    height: 60px;
    font-size: 23px;
    padding: 10px;
}

.default {
    width: 380px;
    height: 60px;
}

.small {
    width: 120px;
}

.detail-btn {
    font-size: 32px;
    color: #ab4e68;  
    transition: 0.4s;
    cursor: pointer;
}

.detail-btn:hover {
    color: #743648;
}

.edit-btn {
    font-size: 32px;
    color: #b689f3;
    transition: 0.4s;
    cursor: pointer;
}

.edit-btn:hover {
    color: #9165d0;
}

.delete-btn {
    font-size: 32px;
    color: red;
    transition: 0.4s;
    cursor: pointer;
}

.delete-btn:hover {
    color: rgb(162, 15, 15);
}

.finish-order {
    font-size: 18px;
    border: none;
    outline: none;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    padding: 5px;
    background-color: #55D15D;
    color: #fff;
    font-weight: 600;
    transition: 0.4s;
    cursor: pointer;
}

.finish-order:hover {
    background-color: #5cad62;
}

.cancel-order {
    font-size: 18px;
    border: none;
    outline: none;
    width: 110px;
    height: 40px;
    border-radius: 8px;
    padding: 5px;
    background-color: #FF3131;
    color: #fff;
    font-weight: 600;
    transition: 0.4s;
    cursor: pointer;
}

.cancel-order:hover {
    background-color: #a82e2e;
}

.cancel-order:disabled {
    background-color: #bbbaba;
    cursor: not-allowed;
}

.finish-order:disabled {
    background-color: #bbbaba;
    cursor: not-allowed;
}
/* END OF PRODUCT LIST CONTAINER */

/* ----------------------------------------------------------------------------------------------------- */
