<div class="t2-container">
    <div class="t2-centralize">
        <div class="t2-title">
            <span class="title-product">
                {{ isUpdate ? 'ATUALIZAR' : 'CADASTRAR' }} PRODUTO
            </span>
        </div>
        <form [formGroup]="productForm" (ngSubmit)="saveProduct()" class="add-edit-form" #productFormRef="ngForm">
            <div class="form-field">
                <div class="div-message" *ngIf="name?.invalid && productFormRef.submitted">
                    <span class="message" *ngIf="name?.errors?.['required']" >O campo nome é obrigatório</span>
                    <span class="message" *ngIf="name?.errors?.['minlength']" >O campo nome precisa ter no mínimo 3 caracteres</span>
                    <span class="message" *ngIf="name?.errors?.['maxLengthField']" >O campo nome precisa ter no máximo 10 caracteres</span>
                </div>
                <div class="field-line">
                    <span class="form-span">
                        NOME: 
                    </span>
                    <input formControlName="nameCtrl" type="text" class="form-input">
                </div>
            </div>
            <div class="form-field">
                <div class="div-message" *ngIf="category?.invalid && productFormRef.submitted">
                    <span class="message">O campo categoria é obrigatório</span>
                </div>
                <div class="field-line">
                    <span class="form-span">
                        CATEGORIA:
                    </span>
                    <select formControlName="categoryCtrl" (change)="onCategoryChange($event)">
                        <option disabled [ngValue]="null">Selecione a categoria</option>
                        <option *ngFor="let category of categories" [ngValue]="category">
                            {{ category.description }}
                        </option>

                    </select>
                </div>
            </div>
            <div class="form-field">
                <div class="div-message" *ngIf="price?.invalid && productFormRef.submitted">
                    <span class="message">O campo preço é obrigatório</span>
                </div>
                <div class="field-line">
                    <span class="form-span">
                        PREÇO:
                    </span>
                    <input formControlName="priceCtrl" type="text" class="form-input">
                </div>
            </div>
            <div class="form-field">
                <div class="field-line">
                    <span class="form-span">
                        LINK DA IMAGEM: 
                    </span>
                    <input formControlName="linkCtrl" type="text" class="form-input">
                </div>
            </div>
            <div class="finish-btn-div">
                <button type="submit" class="finish-btn">
                    {{ isUpdate ? 'ATUALIZAR' : 'CADASTRAR' }}
                </button>
            </div>
        </form>
    </div>
</div>