<div class="t2-container">
    <div class="t2-centralize">
        <div class="t2-title">
            <span class="title-product">
                ADICIONAR / EDITAR PRODUTO
            </span>
        </div>
        <form action="" class="add-edit-form">
            <div class="form-field">
                <span class="form-span">
                    NOME: 
                </span>
                <input type="text" class="form-input" id="name-input">
            </div>
            <div class="form-field">
                <span class="form-span">
                    CATEGORIA: 
                </span>
                <input type="text" class="form-input" id="category-input">
            </div>
            <div class="form-field">
                <span class="form-span">
                    PREÇO: 
                </span>
                <input type="text" class="form-input" id="price-input">
            </div>
            <div class="form-field">
                <span class="form-span">
                    LINK DA IMAGEM: 
                </span>
                <input type="text" class="form-input" id="image-input">
            </div>
            <div class="finish-btn-div">
                <button type="submit" class="finish-btn">CONCLUIR</button>
            </div>
        </form>
    </div>
</div>