<div class="t2-container">
    <div class="t2-centralize">
        <div class="t2-title">
            <span class="title-product">
                {{ isUpdate ? 'ATUALIZAR' : 'CADASTRAR' }} PRODUTO
            </span>
        </div>
        <form (ngSubmit)="saveProduct()" class="add-edit-form">
            <div class="form-field">
                <span class="form-span">
                    NOME: 
                </span>
                <input [(ngModel)]="product.name" name="name" type="text" class="form-input" id="name-input">
            </div>
            <div class="form-field">
                <span class="form-span">
                    CATEGORIA: 
                </span>
                <input [(ngModel)]="product.category" name="category" type="text" class="form-input" id="category-input">
            </div>
            <div class="form-field">
                <span class="form-span">
                    PREÇO: 
                </span>
                <input [(ngModel)]="product.price" name="price" type="text" class="form-input" id="price-input">
            </div>
            <div class="form-field">
                <span class="form-span">
                    LINK DA IMAGEM: 
                </span>
                <input [(ngModel)]="product.link" name="link" type="text" class="form-input" id="image-input">
            </div>
            <div class="finish-btn-div">
                <button type="submit" class="finish-btn">
                    {{ isUpdate ? 'ATUALIZAR' : 'CADASTRAR' }}
                </button>
            </div>
        </form>
    </div>
</div>